/* 
.title {
  color: #000fff;
  background-color: #f0f0f0;
}

.primary-btn {
    color: rgb(24, 211, 7);
    padding: 10px 20px;
    border: 1px solid rgb(24, 211, 7);
}
*/


/* #text {
  color: red;
  font-size: 20px;
} */

/* .text{
    color:green;
} */

/* 
    inline,
    internal,
    external,

    id selector,
    class selector,
    tag selector,
*/